<%#
  Parameters:
  potential_matches: list of questions
  matches_array: string name of the HTML array
%>

<% if potential_matches.length > 0 %>

<table border=1>
  <thead>
    <tr>
      <th> ID </th>
      <th> course </th>
      <th> class <br>period<br> code </th>
      <th> index </th>
      <th> image </th>
      <th> is match? </th>
      <th> match type? </th>
    </tr>
  </thead>

<% potential_matches.each do |question| %>
<%= fields_for "#{matches_array}[]", question do |q| %>
<% mq = MatchingQuestion.find_by(question_id: params[:id], matching_question_id: question.id) %>
  <tr>
    <td align="center"> <b> <%= question.id %> </b> </td>
    <% class_period = ClassPeriod.find_by(id: question.class_period_id) %>
    <% course = Course.find_by(id: class_period.course_id) %>
    <td align="center"> <%= course.folder_name %> </td>
    <td align="center"> <%= class_period.session_code %> </td>
    <td align="center"> <b> <%= question.question_index %> </b> </td>
    <td class="imagecolumn">
      <% question_img_url = "https://s3.amazonaws.com/iclickerviewer/%s/Images/%s_Q%d.jpg" %
        [course.folder_name, class_period.session_code, question.question_index]
      %>
      <%= image_tag(question_img_url, :class => "myImg") %>
      <%= button_tag "cmpimg",
        { :type => "button",
          :onclick => "compare_images('#{question_img_url}')" } %>
    </td>
    <td>
      <%# TODO fill these out based on data in the DB %>
      <table border=1>
        <tr><td>
          <%= mq.question_id %><br>
          <%= mq.matching_question_id %>
        </td></tr>
        <tr><td>
          <%= label_tag "questions[#{mq.matching_question_id}][is_match][]", 'unknown' %>
          <%= radio_button_tag "questions[#{mq.matching_question_id}][is_match]", '',
            checked = mq.is_match == nil %>
        </td></tr>
        <tr><td>
          <%= label_tag "questions[#{mq.matching_question_id}][is_match][0]", 'no' %>
          <%= radio_button_tag "questions[#{mq.matching_question_id}][is_match]", '0',
            checked = mq.is_match == 0 %>
        </td></tr>
        <tr><td>
          <%= label_tag "questions[#{mq.matching_question_id}][is_match][1]", 'yes' %>
          <%= radio_button_tag "questions[#{mq.matching_question_id}][is_match]", '1',
            checked = mq.is_match == 1 %>
        </td></tr>
        <tr><td>
          <%= label_tag "questions[#{mq.matching_question_id}][is_match][2]", 'disorderly' %>
          <%= radio_button_tag "questions[#{mq.matching_question_id}][is_match]", '2',
            checked = mq.is_match == 2 %>
        </td></tr>
      </table>
    </td>
    <td>
      <table border="1">
        <tr align="center">
          <th class = "mytooltip"> unknown
            <span class = "tooltiptext" > Mark this if the question match type is unknown. </span>
          </th>
          <th class = "mytooltip"> identical
            <span class = "tooltiptext" > Mark this if the question is identical. </span>
          </th>
          <th class = "mytooltip"> modified
            <span class = "tooltiptext" > Mark this if the question is modified, but you're not sure how. </span>
          </th>
          <th class = "mytooltip"> modified+
            <span class = "tooltiptext" > Mark this if the question is modified in a specific way. </span>
          </th>
          <th class = "mytooltip"> clear
            <span class = "tooltiptext" > Clear modified+ settings. </span>
          </th>
          <th class = "mytooltip"> q_p
            <span class = "tooltiptext" > Question Phrasing Changed. </span>
          </th>
          <th class = "mytooltip"> q_v
            <span class = "tooltiptext" > Question Values Changed. </span>
          </th>
          <th class = "mytooltip"> i_p
            <span class = "tooltiptext" > Info Phrasing Changed. </span>
          </th>
          <th class = "mytooltip">i_l
            <span class = "tooltiptext" > Info Layout Changed. </span>
          </th>
          <th class = "mytooltip">i_a
            <span class = "tooltiptext" > Info Added to Layout. </span>
          </th>
          <th class = "mytooltip"> a_p
            <span class = "tooltiptext" > Answers Phrasing Changed. </span>
          </th>
          <th class = "mytooltip"> a_v
            <span class = "tooltiptext" > Answer Values Changed. </span>
          </th>
          <th class = "mytooltip"> a_o
            <span class = "tooltiptext" > Answer Order Changed. </span>
          </th>
          <th class = "mytooltip"> a_t
            <span class = "tooltiptext" > Answer Type Changed (from true false to anota, etc). </span>
          </th>
          <th class = "mytooltip"> s_p
            <span class = "tooltiptext" > Slide Presentation (theme, colors, background, font size, etc). </span>
          </th>
          <th class = "mytooltip"> other
            <span class = "tooltiptext" > There is a specific change made that we don't have a category for yet.. </span>
          </th>
        </tr>

        <tr align="center">

          <!-- unknown -->
          <td class="<%= "bghicol" if mq.match_type == nil %>">
            <%# identical: %>
            <%= radio_button_tag  "questions[#{mq.matching_question_id}][match_type]",
            :unknown, false, onclick: "matching_new_logic(#{mq.matching_question_id}, '');"
            %>
          </td>
          <!-- identical -->
          <td class="<%= "bghicol" if mq.match_type == 0 %>">
            <%# identical: %>
            <%= radio_button_tag  "questions[#{mq.matching_question_id}][match_type]",
            :identical, false, onclick: "matching_new_logic(#{mq.matching_question_id}, 0);"
            %>
          </td>
          <!-- modified -->
          <td class="<%= "bghicol" if mq.match_type == 1 %>">
            <%# modified %>
            <%= radio_button_tag "questions[#{mq.matching_question_id}][match_type]",
              :modified, false, onclick: "matching_new_logic(#{mq.matching_question_id}, 1);"
            %>
          </td>

          <!-- modified+ -->
          <td class="<%= "bghicol" if mq.match_type == 2 %>">
            <%# modified+ %>
            <%= radio_button_tag "questions[#{mq.matching_question_id}][match_type]",
              :modified_plus, false, onclick: "matching_new_logic(#{mq.matching_question_id}, 2);"
            %>
          </td>

          <td>
            <%= check_box_tag "questions[#{q.object.id}][set_clear]",
              1,
              checked = false,
              onclick: "matching_new_logic(#{mq.matching_question_id}, 'clear');"%>
          </td>
          <!-- modified types -->
          <% # iterate through a hash from names of the modified+ match fields to their short codes
             get_modified_plus_category_hash.each do |field_name, field_code| %>
            <td class="<%= "bghicol" if mq[field_name] == 1%>">
              <%= check_box_tag "questions[#{q.object.id}][set_#{field_code}]",
                # toggle: we are sending 1 if the checkbox is currently unchecked, and 0 if it's currently checked
                mq[field_name] == 1 ? 0 : 1,
                false,
                onclick: "matching_new_logic(#{mq.matching_question_id}, '+');"%>
            </td>
          <% end # {}.each do |field_name, field_code| %>
        </tr>
        <%# end # matching_questions.each do |mq| %>
      </table>
    </td>
  </tr>
<% end # foreach %>
<% end # fields_for %>
</table>

<% end %>
