<div>
TODO: next question
</div>

<div>
TODO: quick preview
</div>

<div>
TODO: back button back to class period, next question buttons
</div>

<%= javascript_tag do %>
  window.onload = Shared.setup_modal_image();
<% end %>

<%#
  TODO
  Show actual matches in DB
  Show potential matches, probably from a text file stored in the cloud
    that is computed offline and then stored
  Handle the upload button

  Information to show for matches:
    Course
    session (code and also as a date)
    ID
    question_index
    image
    barchart
    identical or modified

%>

<%= form_tag(question_path(@questions.first), {method: :patch}) do %>
<%= submit_tag 'Update data (does not work yet)', class: "updatebutton"%>
<table border=1>
  <tr>
    <th> ID </th>
    <th> course </th>
    <th> class <br>period<br> code </th>
    <th> index </th>
    <th> image </th>
    <th> barchart </th>
    <th> matched questions </th>
  </tr>
</thead>
  <% @questions.each do |question| %>
  <%= fields_for "questions[]", question do |q| %>
  <tr>
    <td align="center"> <b> <%= question.id %> </b> </td>
    <td align="center"> <%= @course.folder_name %> TODO: LINK </td>
    <td align="center"> <%= @class_period.session_code %> TODO: LINK </td>
    <td align="center"> <b> <%= question.question_index %> </b> </td>
    <td class="imagecolumn">
      <% question_img_url = "https://s3.amazonaws.com/iclickerviewer/%s/Images/%s_Q%d.jpg" %
        [@course.folder_name, @class_period.session_code, question.question_index]
      %>
      <%= image_tag(question_img_url, :class => "myImg") %>
    </td>
    <td class="imagecolumn">
      <% barchart_img_url = "https://s3.amazonaws.com/iclickerviewer/%s/Images/%s_C%d.jpg" %
        [@course.folder_name, @class_period.session_code, question.question_index]
      %>
      <%= image_tag(barchart_img_url, :class => "myImg") %>
    </td>
    <td> TODO: show definite matches using q (somehow) </td>
  </tr>
  <% end # fields_for %>
  <% end # foreach %>
</table>
<%= submit_tag 'Update data', class: "updatebutton" %>


<hr>
<h1>
Possible matches
</h1>
<table border=1>
  <thead>
    <tr>
      <th> ID </th>
      <th> course </th>
      <th> class <br>period<br> code </th>
      <th> index </th>
      <th> image </th>
      <th> barchart </th>
      <th> does this match? </th>
      <th> type of match? </th>
    </tr>
  </thead>
<%#
TODO course, class_period, image index
TODO filter out same image matches (if any)
TODO option to mark "no match"
TODO potential matches that we decided were not matches at the bottom
TODO integrate /question/:id with class_periods/:id
TODO all question view, possible with insanely long lists of possible matches?
TODO class for the td elements
%>
<% @possible_matches.each do |question| %>
<%= fields_for "possible_matches[]", question do |q| %>
  <tr>
    <td align="center"> <b> <%= question.id %> </b> </td>
    <% class_period = ClassPeriod.find_by(id: question.class_period_id) %>
    <% course = Course.find_by(id: class_period.course_id) %>
    <td align="center"> <%= course.folder_name %> </td>
    <td align="center"> <%= class_period.session_code %> </td>
    <td align="center"> <b> <%= question.question_index %> </b> </td>
    <td class="imagecolumn">
      <% question_img_url = "https://s3.amazonaws.com/iclickerviewer/%s/Images/%s_Q%d.jpg" %
        [course.folder_name, class_period.session_code, question.question_index]
      %>
      <%= image_tag(question_img_url, :class => "myImg") %>
    </td>
    <td class="imagecolumn">
      <% barchart_img_url = "https://s3.amazonaws.com/iclickerviewer/%s/Images/%s_C%d.jpg" %
        [course.folder_name, class_period.session_code, question.question_index]
      %>
      <%= image_tag(barchart_img_url, :class => "myImg") %>
    </td>
    <td> matches the question above?<br>
      <table align="center">
        <tr>
          <%# labels %>
          <td>
            <%= label_tag "possible_matches[#{q.object.id}][is_match][][1]", 'yes' %>
          </td>
          <td>
            <%= label_tag "possible_matches[#{q.object.id}][is_match][][0]", 'no' %>
          </td>
          <td>
            <%= label_tag "possible_matches[#{q.object.id}][is_match][][]", 'unknown' %>
          </td>
        </tr>
        <tr>
          <%# radio buttons %>
          <td>
            <%# check_box_tag "questions[#{q.object.id}][delete_matching_questions][]",
              mq.matching_question_id, false,
              {:id => "questions_#{q.object.id}_delete_matching_questions__#{mq.matching_question_id}"} %>
            <%= radio_button_tag "possible_matches[#{q.object.id}][is_match][]", 1 %>
          </td>
          <td>
            <%= radio_button_tag "possible_matches[#{q.object.id}][is_match][]", 0 %>
          </td>
          <td>
            <%= radio_button_tag "possible_matches[#{q.object.id}][is_match][]", nil %>
          </td>
        </tr>
      </table>
    </td>
    <td> if a match, what kind of match?<br>
      <table align="center">
        <tr>
          <%# labels %>
          <td>
            <%= label_tag "possible_matches[#{q.object.id}][match_type][][1]", 'yes' %>
          </td>
          <td>
            <%= label_tag "possible_matches[#{q.object.id}][match_type][][0]", 'no' %>
          </td>
          <td>
            <%= label_tag "possible_matches[#{q.object.id}][match_type][][]", 'unknown' %>
          </td>
        </tr>
        <tr>
          <%# radio buttons %>
          <td>
            <%= radio_button_tag "possible_matches[#{q.object.id}][is_match][]", 1 %>
          </td>
          <td>
            <%= radio_button_tag "possible_matches[#{q.object.id}][is_match][]", 0 %>
          </td>
          <td>
            <%= radio_button_tag "possible_matches[#{q.object.id}][is_match][]", nil %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<% end # foreach %>
<% end # fields_for %>
<% end # form_tag %>
</table>

<!-- Modal Image -->
<div id="myModal" class="modal">
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">
</div>
