<h1>Log in</h1>
<!--
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

      <p><%# New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
-->
<!-- To be changed in future, for testing -->
<% if current_user %>
<%= current_user.inspect %>
<% end %>

<% unless current_user %>
<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<%= link_to "Continue Anonymously", root_path %>

<% else %>
<%= link_to "Logout", destroy_user_session_path, method: delete %>
<% end %>
