<!-- -->
<h2>
<center>
  <%= @course.term %> <%= @course.year %>
    <%= @course.institution %> <%= @course.instructor %>
</center>
<center> <%= @course.folder_name %> </center>
<center>
  <%= @session.name %> <br>
  <%= @session.session_code %> <br>
  <%= @session.date.strftime("%Y-%m-%d %H:%M") %><br>
</center>
</h2>

<%= form_tag(session_path(@session), method: :patch) do %>
<%= submit_tag 'Update correct answers' %>
<table border=1>
  <tr>
    <th> # </th>
    <th> screenshot </th>
    <th> bar chart </th>
    <th> correct answer </th>
    <th> start </th>
    <th> stop </th>
    <th> # secs </th>
  </tr>
  <% @questions.each do |question| %>
  <tr>
    <td> <%= question.question_index %> </td>
    <!--
    Paths to images are:
    public/courses/UT.CSC108F16-L0101/Images/L1612020906_Q4.jpg
    -->
    <td class="imagecolumn">
      <%= image_tag("/courses/%s/Images/%s_Q%d.jpg" %
      [@course.folder_name, @session.session_code, question.question_index]) %>
    </td>
    <td class="imagecolumn">
      <%= image_tag("/courses/%s/Images/%s_C%d.jpg" %
      [@course.folder_name, @session.session_code, question.question_index]) %>
    </td>
    <td>
      <table>
<!--
  Need a series of checkboxes that are linked to each question for updates
  This will require some sophistication in the.

  Editing will re-direct back to this page.

  Mark which questions have been edited.

-->
        <tr>
          <th> A </th>
          <th> B </th>
          <th> C </th>
          <th> D </th>
          <th> E </th>
        </tr>
        <tr>
          <td>
            <!--
            We create a hash of arrays that looks like this:

            correct_answers[question_id] = ['a', 'b']

            We can use this in the controller to decide what the user has clicked.
            -->
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'a',
              checked?(question.correct_a)
            %>
          </td>
          <td>
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'b',
              checked?(question.correct_b)
            %>
          </td>
          <td>
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'c',
              checked?(question.correct_c)
            %>
          </td>
          <td>
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'd',
              checked?(question.correct_d)
            %>
          </td>
          <td>
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'e',
              checked?(question.correct_e)
            %>
          </td>
        </tr>
      </table>
    </td>
    <td> <%= question.start %> </td>
    <td> <%= question.stop %> </td>
    <td> <%= question.num_seconds %> </td>
  </tr>
  <% end %>
</table>

<%= submit_tag 'Update correct answers' %>

<% end %>
