<h2>
<center>
  <%= @course.term %> <%= @course.year %>
    <%= @course.institution %> <%= @course.instructor %>
</center>
<center> <%= @course.folder_name %> </center>
<center>
  <%= @session.name %> <br>
  <%= @session.session_code %> <br>
  <%= @session.date.strftime("%Y-%m-%d %H:%M") %><br>
</center>
</h2>

<h3>
  <center>
  Average time per clicker question:<br> <%= @avg_time %> seconds
  </center>
</h3>
<%= form_tag(session_path(@session), method: :patch) do %>
<%= submit_tag 'Update correct answers' %>
<table border=1>
  <tr>
    <th> # </th>
    <th> screenshot </th>
    <th> bar chart </th>
    <th> correct answer(s) </th>
    <th> start </th>
    <th> stop </th>
    <th> # secs </th>
  </tr>
  <!--
  Paths to images are:
  public/courses/UT.CSC108F16-L0101/Images/L1612020906_Q4.jpg
  -->
  <% @questions.each do |question| %>
  <tr>
    <td> <%= question.question_index %> </td>
    <td class="imagecolumn">
      <% question_img_url = "/courses/%s/Images/%s_Q%d.jpg" %
        [@course.folder_name, @session.session_code, question.question_index]
      %>
      <%= link_to(image_tag(question_img_url), question_img_url) %>
    </td>
    <td class="imagecolumn">
      <% barchart_img_url = "/courses/%s/Images/%s_C%d.jpg" %
        [@course.folder_name, @session.session_code, question.question_index]
      %>
      <%= link_to(image_tag(barchart_img_url), barchart_img_url) %>
    </td>
    <td>
      <table>
        <tr>
          <th> <%= label_tag "%d-A" % question.id, 'A' %> </th>
          <th> <%= label_tag "%d-B" % question.id, 'B' %> </th>
          <th> <%= label_tag "%d-C" % question.id, 'C' %> </th>
          <th> <%= label_tag "%d-D" % question.id, 'D' %> </th>
          <th> <%= label_tag "%d-E" % question.id, 'E' %> </th>
        </tr>
        <tr>
          <td>
            <!--
            For checkboxes, we create a hash of arrays that looks like this:

            correct_answers[7] = ['a', 'b']

            This means that question_id 7 has been marked with A and B as correct
            answers. We can use this in the controller to decide what the
            user has clicked for correct answers.
            -->
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'A',
              checked?(question.correct_a),
              id: "%d-A" % question.id
            %>
          </td>
          <td>
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'B',
              checked?(question.correct_b),
              id: "%d-B" % question.id
            %>
          </td>
          <td>
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'C',
              checked?(question.correct_c),
              id: "%d-C" % question.id
            %>
          </td>
          <td>
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'D',
              checked?(question.correct_d),
              id: "%d-D" % question.id
            %>
          </td>
          <td>
            <%= check_box_tag "correct_answers[%d][]" % question.id,
              'E',
              checked?(question.correct_e),
              id: "%d-E" % question.id
            %>
          </td>
        </tr>
      </table>
    </td>
    <td> <%= question.start %> </td>
    <td> <%= question.stop %> </td>
    <td> <%= question.num_seconds %> </td>
    <td> <%= correct_pct(question) %> </td>
  </tr>
  <% end %>
</table>

<%= submit_tag 'Update correct answers' %>

<% end %>
