<h2>
<center>
  <%= @course.term %>
  <%= @course.year %> <%= @course.institution %> <br>
  <%= @course.instructor %> <br>
  <%= @course.folder_name %> <br>
  <%= @session.name %> <br>
  <%= @session.session_code %> <br>
  <%= @session.date.strftime("%Y-%m-%d %H:%M") %><br>
  Average time per clicker question:<br> <%= @avg_time %> seconds
</center>
</h2>

<%= form_tag(session_path(@session), method: :patch) do %>
<%= submit_tag 'Update correct answers' %>
<table border=1>
  <tr>
    <th class="tooltip"> ID
      <span class="tooltiptext right"> Database primary key for this question. </span>
    </th>
    <th class="tooltip"> ques #
      <span class="tooltiptext top"> Question number relative to <i>this session only</i> </span>
    </th>
    <th class="tooltip"> q type
      <span class="tooltiptext top"> Type of question. Possibilities are<br>
        0: unknown<br>
        1: individual<br>
        2: paired<br>
        3: non-MCQ<br>
        4: error<br>
      </span>
    </th>
    <th class="tooltip"> pair #
      <span class="tooltiptext top"> TODO </span>
    </th>
    <th class="tooltip"> screenshot
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="tooltip"> bar chart
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="tooltip"> correct<br> answer(s)
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="tooltip"> start
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="tooltip"> stop
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="tooltip"> # secs
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="tooltip"> correct<br> %
      <span class="tooltiptext">Percent of answers that were correct</span>
    </th>
    <th class="tooltip"> matching<br>question
      <span class="tooltiptext left">Enter the course name and question ID </span>
    </th>
  </tr>
</thead>
  <!--
  Paths to images are:
  public/courses/UT.CSC108F16-L0101/Images/L1612020906_Q4.jpg
  -->
  <% @questions.each do |question| %>
  <%= fields_for "questions[]", question do |q| %>
  <tr>
    <td align="center"> <%= question.id %> </td>
    <td align="center"> <b> <%= question.question_index %> </b> </td>
    <td>
      <%= q.select :question_type, [
        ["unknown", 0],
        ["individual", 1],
        ["paired", 2],
        ["non-MCQ", 3],
        ["error", 4]
      ]
      %>
    </td>
    <td>
      <%= q.select :question_pair, question_pair_options(q.object, @questions),
        include_blank: true %>
    </td>
    <td class="imagecolumn">
      <% question_img_url = "/courses/%s/Images/%s_Q%d.jpg" %
        [@course.folder_name, @session.session_code, question.question_index]
      %>
      <%= link_to(image_tag(question_img_url), question_img_url) %>
    </td>
    <td class="imagecolumn">
      <% barchart_img_url = "/courses/%s/Images/%s_C%d.jpg" %
        [@course.folder_name, @session.session_code, question.question_index]
      %>
      <%= link_to(image_tag(barchart_img_url), barchart_img_url) %>
    </td>
    <td>
      <table>
        <tr>
          <th> <%= q.label :correct_a, "A" %> </th>
          <th> <%= q.label :correct_b, "B" %> </th>
          <th> <%= q.label :correct_c, "C" %> </th>
          <th> <%= q.label :correct_d, "D" %> </th>
          <th> <%= q.label :correct_e, "E" %> </th>
        </tr>
        <tr>
          <td> <%= q.check_box :correct_a %> </td>
          <td> <%= q.check_box :correct_b %> </td>
          <td> <%= q.check_box :correct_c %> </td>
          <td> <%= q.check_box :correct_d %> </td>
          <td> <%= q.check_box :correct_e %> </td>
        </tr>
      </table>
    </td>
    <td> <%= question.start %> </td>
    <td> <%= question.stop %> </td>
    <td> <%= question.num_seconds %> </td>
    <td> <%= correct_pct(question) %> </td>
    <td>
      <%# Listing the IDs of the current matching questions, with a checkbox that
        can delete each one. Was not able to figure out how to use the check_box
        method for things like this, since we would be deleting a self-referential
        association through a join table.

        Also needed to specify the id of the checkbox explicitly, which is ungly,
        because the check_box_tag method uses the name for both name and id and
        I wanted a clickable label for each checkbox. There may be a better way
        to do this.
      %>
      <%= "Check to delete<br><br>".html_safe if MatchingQuestion.where(question_id: q.object.id).length > 0 %>
      <% MatchingQuestion.where(question_id: q.object.id).each do |mq| %>
        <%= check_box_tag "questions[#{q.object.id}][delete_matching_questions][]",
          mq.matching_question_id, false,
          {:id => "questions_#{q.object.id}_delete_matching_questions__#{mq.matching_question_id}"} %>
        <%= label_tag "questions[#{q.object.id}][delete_matching_questions][][#{mq.matching_question_id}]",
          mq.matching_question_id %>
        <br>
      <% end %>
      <br><br>
      add: <%= q.text_field :matching_questions, :value => '' %>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>

<%= submit_tag 'Update correct answers' %>

<% end %>
