<h2>
<center>
  <%= @course.term %>
  <%= @course.year %> <%= @course.institution %> <br>
  <%= @course.instructor %> <br>
  <%= @course.folder_name %> <br>
  <%= @session.name %> <br>
  <%= @session.session_code %> <br>
  <%= @session.date.strftime("%Y-%m-%d %H:%M") %><br>
  Average time per clicker question:<br> <%= @avg_time %> seconds
</center>
</h2>

<%= form_tag(session_path(@session), method: :patch) do %>
<%= submit_tag 'Update correct answers' %>
<table border=1>
  <tr>
    <th> ques # </th>
    <th> pair # </th>
    <th> q type </th>
    <th> screenshot </th>
    <th> bar chart </th>
    <th> correct<br> answer(s) </th>
    <th> start </th>
    <th> stop </th>
    <th> # secs </th>
    <th> correct<br> % </th>
  </tr>
  <!--
  Paths to images are:
  public/courses/UT.CSC108F16-L0101/Images/L1612020906_Q4.jpg
  -->
  <% @questions.each do |question| %>
  <%= fields_for "questions[]", question do |q| %>
  <tr>
    <td align="center"> <b> <%= question.question_index %> </b> </td>
    <td>

     </td>
    <td>
      <%= q.select :question_type, [
        ["unknown", 0],
        ["individual", 1],
        ["paired", 2],
        ["non-MCQ", 3],
        ["error", 4]
      ]
      %>
    </td>
    <td class="imagecolumn">
      <% question_img_url = "/courses/%s/Images/%s_Q%d.jpg" %
        [@course.folder_name, @session.session_code, question.question_index]
      %>
      <%= link_to(image_tag(question_img_url), question_img_url) %>
    </td>
    <td class="imagecolumn">
      <% barchart_img_url = "/courses/%s/Images/%s_C%d.jpg" %
        [@course.folder_name, @session.session_code, question.question_index]
      %>
      <%= link_to(image_tag(barchart_img_url), barchart_img_url) %>
    </td>
    <td>
      <table>
        <tr>
          <th> <%= q.label :correct_a, "A" %> </th>
          <th> <%= q.label :correct_b, "B" %> </th>
          <th> <%= q.label :correct_c, "C" %> </th>
          <th> <%= q.label :correct_d, "D" %> </th>
          <th> <%= q.label :correct_e, "E" %> </th>
        </tr>
        <tr>
          <td> <%= q.check_box :correct_a %> </td>
          <td> <%= q.check_box :correct_b %> </td>
          <td> <%= q.check_box :correct_c %> </td>
          <td> <%= q.check_box :correct_d %> </td>
          <td> <%= q.check_box :correct_e %> </td>
        </tr>
      </table>
    </td>
    <td> <%= question.start %> </td>
    <td> <%= question.stop %> </td>
    <td> <%= question.num_seconds %> </td>
    <td> <%= correct_pct(question) %> </td>
  </tr>
  <% end %>
  <% end %>
</table>

<%= submit_tag 'Update correct answers' %>

<% end %>
