<%="Cluster including Question with ID #{@cluster.first}"  %>
<table border=1>
  <tr>
    <th> ID </th>
    <th> Link to <br> Course </th>
    <th> Link to <br> Class Period </th>
    <th> Question Index </th>
    <th> Image </th>
    <th> Barchart </th>
  </tr>
</thead>

<% @cluster_show.each do |question| %>
<%= fields_for "questions[]", question do |q| %>
<%# class_period = ClassPeriod.find_by(id: question.class_period_id) %>
<%# course = Course.find_by(id: class_period.course_id) %>
<tr>
  <td align="center"> <b> <%= link_to question.id, question_path(question.id) %> </b> </td>
  <td align="center"> <%=link_to question.class_period.course.name, course_path(question.class_period.course.id)%>  </td>
  <td align="center"> <%=link_to question.class_period.name, class_period_path(question.class_period.id)   %>  </td>
  <td align="center"> <b> <%= question.question_index %> </b> </td>
  <td class="imagecolumn">
    <% question_img_url = "https://s3.amazonaws.com/iclickerviewer/%s/Images/%s_Q%d.jpg" %
      [question.class_period.course.folder_name, question.class_period.session_code, question.question_index]
    %>
    <%= image_tag(question_img_url, :class => "myImg") %>
  </td>
  <td class="imagecolumn">
    <% barchart_img_url = "https://s3.amazonaws.com/iclickerviewer/%s/Images/%s_C%d.jpg" %
      [question.class_period.course.folder_name, question.class_period.session_code, question.question_index]
    %>
    <%= image_tag(barchart_img_url, :class => "myImg") %>
  </td>
</tr>
<% end # fields_for %>
<% end # foreach %>
</table>
