<% content_for :title, @class_period.session_code %>
<div class="topdiv" style="display:none">
<table frame=box rules=none>
<tr>
  <td colspan="4"><b>QUICK PREVIEW</b> to preview questions from other classes;
  useful for finding matching questions across classes.
  </td>
</tr>
<tr>
  <td>
    <select name="course" id="dynamic_course" onchange="dynamic_image_handler(course_hash, false)">
      <option name=""></option>
    </select>
  </td>
  <td>
    <select name="class_period" id="dynamic_class_period" onchange="dynamic_image_handler(course_hash, false)">
      <option name=""></option>
    </select>
  </td>
  <td>
    <select name="question" id="dynamic_question" onchange="dynamic_image_handler(course_hash, false)">
      <option name=""></option>
    </select>
  </td>
  <td>
    <div class="imagecolumn">
      <img id="dynamic_image" class="myImg"/>
    <div>
  </td>
</tr>
</table>
</div>

<h2 class="right">
  <%# TODO: Make this information for course into a method %>
  <%= @course.term %>
  <%= @course.year %> <%= @course.institution %> <br>
  <%= @course.instructor %> <br>
  <%= @course.folder_name %> <br>
  <%= @class_period.name %> <br>
  <%= @class_period.session_code %> <br>
  <%= @class_period.date.strftime("%Y-%m-%d %H:%M") %><br>
  Average time per clicker question:<br> <%= @avg_time %> seconds
</h2>


<% if @next_class_period != nil %>
<div class="nextlink">
  <%= button_tag "> NEXT CLASS #{@next_class_period.session_code} >",
  { :type => "button",
      :onclick => "next_class_button_handler('#{class_period_path(@next_class_period)}')" } %>
<% else %>
<div class="lastclassperiod">
  Last class period for this course, yay!
<% end %>
</div>

<%# TODO: Make course_hash an AJAX call. Inlining it is not elegant.
http://railscasts.com/episodes/324-passing-data-to-javascript
%>
<%= javascript_tag do %>
  $(document).ready(function() {
    $("#old_dynamic_course_selected").val("<%=j @old_dynamic_course_selected%>");
    $("#old_dynamic_class_period_selected").val("<%=j @old_dynamic_class_period_selected%>");
    $("#old_dynamic_question_selected").val("<%=j @old_dynamic_question_selected%>");
  });

  var course_hash = <%=raw @course_hash %>;

  window.onload = dynamic_image_handler(course_hash, true);
<% end %>


<%= form_tag(class_period_path(@class_period), method: :patch) do %>
<input type="hidden" id="old_dynamic_course_selected" name="old_dynamic_course_selected" value=""/>
<input type="hidden" id="old_dynamic_class_period_selected" name="old_dynamic_class_period_selected" value=""/>
<input type="hidden" id="old_dynamic_question_selected" name="old_dynamic_question_selected" value=""/>
<% if current_user %>
<%= submit_tag 'Update data', class: "updatebutton"%>
<%# link_to "Reload Course Hash", update_course_hash_path(@class_period), method: :get%>
<%= link_to "Reload Course Hash", "/update_course_hash/#{@class_period.id}", method: :get %>
<% end %>
<table border=1>
  <tr>
    <th class="mytooltip"> ID
      <span class="tooltiptext right"> Database primary key for this question. </span>
    </th>
    <th class="mytooltip"> ques #
      <span class="tooltiptext top"> Question number relative to <i>this class period only</i> </span>
    </th>
    <th class="mytooltip"> q type
      <span class="tooltiptext top"> Type of question. Possibilities are<br>
        0: unknown<br>
        1: quiz<br>
        2: single<br>
        3: paired<br>
        4: non-MCQ<br>
        5: error<br>
      </span>
    </th>
    <th class="mytooltip"> pair #
      <span class="tooltiptext top"> TODO </span>
    </th>
    <th class="mytooltip"> screenshot
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="mytooltip"> bar chart
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="mytooltip"> correct<br> answer(s)
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="mytooltip"> start
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="mytooltip"> stop
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="mytooltip"> # secs
      <span class="tooltiptext"> TODO </span>
    </th>
    <th class="mytooltip"> correct<br> %
      <span class="tooltiptext">Percent of answers that were correct</span>
    </th>
    <th class="mytooltip"> matching<br>question
      <span class="tooltiptext">Matching versions of this question
        from other courses. Enter the question ID (database
        primary key) of the matching question. You can use the "quick preview
        viewer" above to find a question, and then use the button in this column
        to say that these two questions are the same.
      </span>
    </th>
    <th class="mytooltip"> num <br>matching<br>questions
      <span class="tooltiptext"> TODO
      </span>
    </th>
    <th class="mytooltip"> num <br>possible<br>matching<br>questions
      <span class="tooltiptext"> TODO
      </span>
    </th>
    <th class="mytooltip"> num <br>nonmatching<br>questions
      <span class="tooltiptext left"> TODO
      </span>
    </th>

  </tr>
</thead>
  <!--
  Images are stored in AWS S3 with paths like this:
  http://s3.amazonaws.com/iclickerviewer/UIC.CS361F15/Images/L1508241154_Q1.jpg
  -->
  <% @questions.each do |question| %>
  <%= fields_for "questions[]", question do |q| %>
  <% if data_entered?(q.object) %>
  <tr>
  <% else %>
  <tr class="todo">
  <% end %>
    <td align="center">
      <%= link_to question.id, question_path(question) %>
    </td>
    <td align="center">
      <b> <%= link_to question.question_index, question_path(question) %> </b>
    </td>
    <td>
      <%= if current_user
        q.select :question_type, [
        ["unknown", 0],
        ["quiz", 1],
        ["single", 2],
        ["paired", current_user],
        ["non-MCQ", 4],
        ["error", 5]
      ], {}, { class: "question_type_#{q.object.question_index}" }
    end
    %>
    </td>
    <td>
<%# HACK: creating this.old_question_pair in the DOM to store the previously selected value %>
<% if current_user %>
      <%= q.select :question_pair, question_pair_options(q.object, @questions),
        { include_blank: true },
        { onclick: "this.old_question_pair = $(this).val();",
          onchange: "question_pair_handler( #{q.object.question_index}, $(this).val(), this.old_question_pair );",
          class: "question_pair_#{q.object.question_index}" } %>
          <% end %>
    </td>
    <td class="imagecolumn">
      <% question_img_url = "https://s3.amazonaws.com/iclickerviewer/%s/Images/%s_Q%d.jpg" %
        [@course.folder_name, @class_period.session_code, question.question_index]
      %>
      <%= image_tag(question_img_url, :class => "myImg") %>
    </td>
    <td class="imagecolumn">
      <% barchart_img_url = "https://s3.amazonaws.com/iclickerviewer/%s/Images/%s_C%d.jpg" %
        [@course.folder_name, @class_period.session_code, question.question_index]
      %>
      <%= image_tag(barchart_img_url, :class => "myImg") %>
    </td>
    <td>
      <table>
        <% if current_user %>
        <tr>
          <th> <%= q.label :correct_a, "A" %> </th>
          <th> <%= q.label :correct_b, "B" %> </th>
          <th> <%= q.label :correct_c, "C" %> </th>
          <th> <%= q.label :correct_d, "D" %> </th>
          <th> <%= q.label :correct_e, "E" %> </th>
        </tr>
        <tr>
          <td> <%= q.check_box :correct_a %> </td>
          <td> <%= q.check_box :correct_b %> </td>
          <td> <%= q.check_box :correct_c %> </td>
          <td> <%= q.check_box :correct_d %> </td>
          <td> <%= q.check_box :correct_e %> </td>
        </tr>
        <% end %>
      </table>
    </td>
    <td> <%= question.start %> </td>
    <td> <%= question.stop %> </td>
    <td> <%= question.num_seconds %> </td>
    <td> <%= correct_pct(question) %> </td>
    <td>
      <%#
      Compact table for adding, deleting, and editing matching_questions.
      We have a number of hacks in here because the default Ruby mechanisms
      don't really match, or I don't know how to use them well enough.

      For add, we enter the question ID in a textbox, and
       use the radio buttons to set the match_type.

      For edits, we have radio buttons to set the match_type for each existing
        match already in the database.

      For deletes, we get a list of matching_question_ids, and we remove them all.

      TODO: Mark the radio buttons for existing matches with the match_type
      %>
      <% if current_user %>
      <table border="1">
        <tr align="center">
          <th> qid </th>
          <th> identical </th>
          <th> modified </th>
          <th> delete? </th>
        </tr>
        <% MatchingQuestion.where(question_id: q.object.id, is_match: 1).each do |mq| %>
        <tr align="center">
          <td>
            <%= mq.matching_question_id %>
          </td>

          <% if mq.match_type == 0 %>
          <td class="bghicol">
          <% else %>
          <td>
          <% end %>
            <%# identical: %>
            <%= radio_button_tag "questions[#{q.object.id}][edit_matching_questions][#{mq.matching_question_id}]",
              "0"
            %>
          </td>

          <% if mq.match_type == 1 %>
          <td class="bghicol">
          <% else %>
          <td>
          <% end %>
            <%# modified %>
            <%= radio_button_tag "questions[#{q.object.id}][edit_matching_questions][#{mq.matching_question_id}]",
              "1"
            %>
          </td>
          <td>
            <%= check_box_tag "questions[#{q.object.id}][delete_matching_questions][]",
              mq.matching_question_id, false,
              {:id => "questions_#{q.object.id}_delete_matching_questions__#{mq.matching_question_id}"} %>
          </td>
        </tr>
        <% end %>
        <!--
        Last row of the table is for the UI to add a new matching question.
        -->
        <tr align="center">
          <td>
            <%= q.text_field :matching_questions, :value => '',
              :size => '5',
              :placeholder => 'add' %>
          </td>
          <td>
            <%= radio_button_tag "questions[#{q.object.id}][match_type]", :identical %>
          </td>
          <td>
            <%= radio_button_tag "questions[#{q.object.id}][match_type]", :modified %>
          </td>
        </tr>
      </table>

      <%= button_tag "use quick preview",
      { :type => "button",
        :onclick => "use_quick_preview(#{q.object.id})" } %>
        <% end %>
    </td>
    <%# Turning off possible matches to speed up the page %>
    <td> <%# @matches[question.id] %> </td>
    <td> <%# @possible_matches[question.id] %> </td>
    <td> <%# @nonmatches[question.id] %> </td>
  </tr>
  <% end %>
  <% end %>
</table>
<% if current_user %>
<%= submit_tag 'Update data', class: "updatebutton" %>
<% end %>
<% end %>

<%= render 'modal_image' %>
