<table border=1>
  <tr>
    <th> Course Code </th>
    <th> Course </th>
    <th> Term </th>
    <th> Year </th>
    <th> School </th>
    <th> Instructor </th>
    <th> avg num questions / class </th>
    <th> avg num secs / question </th>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td>
        <%= link_to course.folder_name, course_path(course) %>
      </td>
      <td> <%= course.name %> </td>
      <td> <%= course.term %> </td>
      <td> <%= course.year %> </td>
      <td> <%= course.institution %> </td>
      <td> <%= course.instructor %> </td>
      <td> <%= @all_class_stats[course.id][:avg_num_questions].round(1) %> </td>
      <td> <%= @all_class_stats[course.id][:avg_time].round(1) %> </td>
    </tr>
  <% end %>
</table>
