<table border=1>
  <tr>
    <th> Course Code </th>
    <th> Course </th>
    <th> Term </th>
    <th> Year </th>
    <th> School </th>
    <th> Instructor </th>
    <th> avg num Qs<br> / class </th>
    <th> avg num secs<br> / question </th>
    <th> num Qs to update<br> / total Qs </th>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td>
        <%= link_to course.folder_name, course_path(course) %>
      </td>
      <td> <%= course.name %> </td>
      <td> <%= course.term %> </td>
      <td> <%= course.year %> </td>
      <td> <%= course.institution %> </td>
      <td> <%= course.instructor %> </td>
      <td> <%= @all_class_stats[course.id][:avg_num_questions].round(1) %> </td>
      <td> <%= @all_class_stats[course.id][:avg_time].round(1) %> </td>
      <% if @class_period_updated_counts[course.id][0] > 0 %>
        <td class="todo">
      <% else %>
        <td>
      <% end %>
        <%= to_s_fraction(@class_period_updated_counts[course.id]) %>
      </td>
    </tr>
  <% end %>
</table>
