<center>
  <h2>Courses#show</h2>
  <h1> <%= @course.folder_name %> </h1>
  <h1> <%= @course.term %> <%= @course.year %>
    <%= @course.institution %> <%= @course.instructor %>
  </h1>
  <%= @class_stats[:avg_time].round(1) %>
  <%= @class_stats[:num_questions] %>
</center>

<table border=1>
  <tr>
    <th> date </th>
    <th> class period name </th>
    <th> link to class period </th>
    <th> num questions </th>
    <th> avg num secs<br> / question </th>
    <th> num classes to update <br> / num classes</th>
    <th> matches </th>
    <th> possible<br> matches </th>
    <th> nonmatches </th>
  </tr>
  <% @classes.each do |sess| %>
  <tr>
    <td> <%= sess.date.strftime("%Y-%m-%d %H:%M") %> </td>
    <td> <%= sess.name %> </td>
    <td> <%= link_to sess.session_code, class_period_path(sess) %> </td>
    <td> <%= @each_class_stats[sess.id][:num_questions] %> </td>
    <td> <%= @each_class_stats[sess.id][:avg_time].round(1) %> </td>
    <% if @question_updated_counts[sess.session_code][0] > 0 %>
    <td class="todo">
    <% else %>
    <td>
    <% end %>
      <%= to_s_fraction(@question_updated_counts[sess.session_code]) %>
    </td>
    <td> <%= @num_matches[sess.id] %> </td>
    <td> <%= @num_possible_matches[sess.id] %> </td>
    <td> <%= @num_nonmatches[sess.id] %> </td>
  </tr>
  <% end %>
</table>
