<% content_for :title, @course.folder_name %>
<%= javascript_tag do %>
  window.onload = course_show_load(<%= @course.id %>);
<% end %>
<center>
  <h2>Courses#show</h2>
  <h1> <%= @course.folder_name %> </h1>
  <h1> <%= @course.term %> <%= @course.year %>
    <%= @course.institution %> <%= @course.instructor %>
  </h1>
  <%# @class_stats[:avg_time].round(1) %>
  <%# @class_stats[:num_questions] %>
</center>

<table border=1>
  <tr>
    <th> date </th>
    <th> class period<br> name </th>
    <th> link to class<br> period </th>
    <th> num<br> questions </th>
    <th> avg # secs<br> / question </th>
    <th> # classes<br> to update <br> / num classes</th>
    <th> matches </th>
    <th> possible<br> matches </th>
    <th> nonmatches </th>
  </tr>
  <% @classes.each do |sess| %>
  <tr>
    <td> <%= sess.date.strftime("%Y-%m-%d %H:%M") %> </td>
    <td> <%= sess.name %> </td>
    <td> <%= link_to sess.session_code, class_period_path(sess) %> </td>
    <td> <%# @each_class_stats[sess.id][:num_questions] %> </td>
    <td> <%# @each_class_stats[sess.id][:avg_time].round(1) %> </td>
    <%
    # really hacky way to check that there are questions left to be updated.
    # @question_updated_counts is a map from session_code (i.e. L1709120920)
    # to the array [num_updated_questions, num_questions].
    # So subtracting the number of questions from the num updated questions
    # and getting more than 0 means that there is work left to be done.
    # TODO Maybe refactor this so that there are two different maps:
    #     questions_updated, and total_questions, or something like that.
      if @question_updated_counts[sess.session_code][1] -
          @question_updated_counts[sess.session_code][0] > 0 %>
    <td class="todo">
    <% else %>
    <td>
    <% end %>
      <%= to_s_fraction(@question_updated_counts[sess.session_code]) %>
    </td>
    <td id="match_<%="#{sess.id}"%>"> </td>
    <td id="possible_match_<%="#{sess.id}"%>"> </td>
    <td id="nonmatch_<%="#{sess.id}"%>"> </td>
  </tr>
  <% end %>
</table>
