<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <% if request.fullpath.starts_with? '/class_period' %>
          <li class="nav-item">
            <button class="navbar-btn" onclick="toggle_quick_preview()">
              toggle quick preview
            </button>
          </li>
          <li class="nav-item">
            <%# link_to "Reload Course Hash", update_course_hash_path(@class_period), method: :get %>
            <%= button_to "Reload Course Hash", "/update_course_hash/#{@class_period.id}", method: :get, class: 'navbar-btn' %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if defined?(@questions) && request.fullpath.starts_with?('/question') %>
          <li class="nav-item">
            <span class="navbar-text">
              <%= "Question #{@questions[0].question_index} (#{@questions[0].id}) "%>
            </span>
          </li>
        <% end %>
        <% if defined?(@class_period) %>
          <li class="nav-item">
            <span class="navbar-text"> <%= link_to "#{@class_period.session_code}", @class_period %> </span>
          </li>
        <% end %>
        <% if defined?(@course) %>
          <li class="nav-item">
            <%= link_to "#{@course.name} (#{@course.folder_name})", @course %>
          </li>
        <% end %>
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to "Login", user_google_oauth2_omniauth_authorize_path %>
        </li>
        <% end %>
        <% if is_verified?(current_user, 2) %>
        <li>
          <%= link_to "Admin Page", admin_index_path, method: :get %>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
