<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <% if request.fullpath.starts_with? '/class_period' %>
          <li class="nav-item">
            <button class="navbar-btn" onclick="toggle_quick_preview()">
              toggle quick preview
            </button>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if defined?(@questions) && request.fullpath.starts_with?('/question') %>
          <li class="nav-item">
            <span class="navbar-text">
              <%= "Question #{@questions[0].question_index} (#{@questions[0].id}) "%>
            </span>
          </li>
        <% end %>
        <% if defined?(@class_period) %>
          <li class="nav-item">
            <span class="navbar-text"> <%= @class_period.session_code %> </span>
          </li>
        <% end %>
        <% if defined?(@course) %>
          <li class="nav-item">
            <span class="navbar-text"> <%= @course.name %> (<%= @course.folder_name %>) </span>
          </li>
        <% end %>
        <% if request.fullpath.starts_with?('/login') %>
        <li><%= link_to "Continue Anonymously", root_path %></li>
        <% else %>
        <li><%= link_to "Home", root_path %></li>
        <% end %>
        <% if current_user %>
        <li>
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to "Login", login_path, method: :get %>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
